# ServiceNow (PDI) vars
# You need developer account first: https://developer.servicenow.com
# Request an instance, then copy its base URL from the browser address bar
# while logged in, copy it Looks like https://dev****.service-now.com
SERVICENOW_INSTANCE_URL=

# Always "admin" on a Personal Developer Instance
SERVICENOW_USERNAME=admin

# sign in at developer.servicenow.com, open your instance, and will find your password
SERVICENOW_PASSWORD=

# google Gemini vars
# Free API key, get it from https://aistudio.google.com
GEMINI_API_KEY=